<?xml version="1.0" encoding="UTF-8"?>
<configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
               xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/nkatsar/logback-XSD/master/src/main/xsd/logback.xsd">
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <logger name="de.kintel" level="DEBUG"/>
    <logger name="de.kintel.ki.ruleset.rules" level="ERROR"/>
    <logger name="de.kintel.ki.algorithm" level="ERROR"/>
    <logger name="de.kintel.ki.algorithm.MoveMakerImpl" level="ERROR"/>
    <logger name="de.kintel.ki.util.BoardUtils" level="ERROR"/>
</configuration>