.label {
    -fx-font-size:20px;
}

#winLabel {
    -fx-background-color: rgba(255,255,255,0.5);

    -fx-border-color: rgba(1,1,1,0.5);
    -fx-border-width:4px;
    -fx-border-radius:4px;

    -fx-font-size:40px;
    -fx-padding:0.5em;
}